:root {
    --header-bg-color: #EAC926;
    --camion-y-oferta:  #39b54a;
  }

.d-flex{
    display: flex;
    justify-content: space-between;
}

.f18 {
    font-size: 18px;
}

.f16 {
    font-size: 16px;
}

.text-center {
    text-align: center;
}

html {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--header-bg-color);
}

.d-wrap {
    flex-wrap: wrap;
}

.align-items {
    align-items: center;
}

.w-50 {
    width: 50%;
}

.w-70 {
    width: 70%;
}

.w-30 {
    width: 30%;
}

body {
    background-color: #ebebeb;
}

h4 {
    font-size: 24px;
    color:#666;
    margin: 20px 0px;
    width: 90%;
    text-align: center;
}

p {
    font-size: 12px;
}

.precio {
    color: var(--camion-y-oferta);
}

img{
    width: 100%;
}

.logo {
    height: 75px;
}

.buscador {
    margin-left: 20px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}

.logo-buscador {
    padding: 5%;
}

.producto {
    width: 250px;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    margin: 10px;
}
#navegacion .menu{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#navegacion .links{
    display: none;
    background-color: var(--header-bg-color);
    font-size: 24px;
}

#navegacion .menu:hover .links{
    display: block;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    margin: 5px;
}

.burguer{
    cursor: pointer;
    background-color: #0044AA;
    color: white;
    font-size: 40px;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0px;
}

.burguer:hover{
    background-color: #0022AA;
}

.home-banner{
    width: 100%;
    display: block;
}

.van {
    color: var(--camion-y-oferta);
    text-align: left;
}

footer {
    color: gray;
    text-align: center;
    padding: 20px 5%; 
}

.footer-info{
    margin: 10px 0px;
}

.footer-images{
    color: #1259c3;
}

#copyright {
    font-size: smaller;
    text-align: left;
}

@media (min-width: 769px){
    .burguer{
        display: none;
    }
    #navegacion .links{
        display: inline-flex;
    }

    #navegacion .menu{
        display: inline-flex;
        align-items: center;
        
    }
    .d-flex {
        flex-wrap: nowrap;
    }
    .producto {
        width: 250px;
    }

}