input {
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 0px;
}

.boton{
    color: white;
    background-color: #0044AA;
}

.boton:hover{
    background-color: #0022AA;
}